
.intro {
  padding: 0;
}

.intro__block1 {
  background-image: url("img/index-background-mobile@1x.jpg");
  padding-bottom: 165px;
  background-size: auto;
  z-index: 3;
}

.intro__title {
  padding: 0 20px 0;
  text-align: center;
}

.intro__paragraph {
  text-align: center;
}

.intro-block2 {
  text-align: center;
}

.intro__food-image {
  display: block;
  margin: -140px auto 0;
}

.intro__button {
  margin: 0 auto;
}
