.intro {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.intro__block1 {
  order: 2;
  margin-top: -305px;
  padding: 30px 0 0;
}

.intro__title {
  padding: 0 20px 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  line-height: 36px;
  font-size: 36px;
  font-weight: 400;
}

.intro__text {
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}

.intro__food-image {
  display: block;
  width: 280px;
  height: 271px;
  margin: 0 auto;
}

.intro__block2 {
  height: 305px;
  order: 1;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #63a73a;
}

.intro__button {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .intro {
    padding: 0 30px;
    max-width: 900px;
    margin: 0 auto;
  }

  .intro__block1 {
    margin-top: 0px;
    padding-top: 45px;
    padding-left: 90px;
    background: #999999 url("../img/index-can-tablet@1x.jpg") center 245px no-repeat;
    background-size: 708px 610px;
  }

  .intro__title {
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    width: 430px;
    text-align: left;
    padding: 0;
    margin-bottom: 40px;
  }

  .intro__text {
    color: #111111;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 45px;
  }

  .intro__food-image {
    display: none;
  }

  .intro__button {
    margin: 0 0 530px;
  }

  .intro__block2 {
    display: none;
  }
}

@media (min-width: 1440px) {
  .intro {
    margin-top: -174px;
/*    padding-top: 140px;*/
    background: url("../img/index-background-desktop@1x.jpg") 720px 0 no-repeat;
    background-size: 720px 696px;
    max-width: 1440px;
    padding: 110px;
    padding-bottom: 80px;
  }

  .intro__block1 {
    order: 1;
    background: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 80px;
    height: 506px;
    align-content: flex-start;
  }

  .intro__block2 {
    display: none;
  }

  .intro__title {
    width: 530px;
  }
/*
  .intro__food-image {
    display: none;
  }*/

  .intro__button {
    margin: 0;
    order: 1;
  }

  .intro__food-image {
    display: block;
    order: 5;
    margin: 0;
    padding: 0;
    height: 499px;
    width: 552px;
  }

  .intro picture {
    order: 5;
    margin-left: -160px;
  }
}
