.social {
  padding: 16px 0;
}

.social__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 160px;
  list-style: none;
  padding: 0;
  font-size: 0;
}

.social__item {
  min-height: 30px;
  background-color: blue;
  width: 40px;
}
